{% extends 'base.html.twig' %}

{% block body %}
    <main class="legal-mentions">
        <h1 class="legal-mentions__title">MENTIONS LÉGALES</h1>
        
        <h2 class="legal-mentions__subtitle">Editeur</h2>
        <p class="legal-mentions__text">Le site Tv_Show est édité par l'équipe de développement Tv_Show </p>
    
        <h2 class="legal-mentions__subtitle">Responsable de publication</h2>
        <p class="legal-mentions__text">Frédéric CAFFIER</p>
    
        <h2 class="legal-mentions__subtitle">Déclaration CNIL</h2>
        <p class="legal-mentions__text">Conformément aux dispositions de la loi 78-17 du 6 janvier 1978 modifiée, l’Utilisateur dispose d’un droit d’accès, de modification et de suppression des informations collectées par O'skool.</p>
        <p class="legal-mentions__text">
            Ce site est proposé en différents langages web (HTML5, Javascript, CSS, etc…) pour un meilleur confort d’utilisation et un graphisme plus agréable, nous vous recommandons de recourir à des navigateurs modernes comme Internet explorer, Safari, Firefox, Google Chrome, etc…
            Toutefois, des erreurs ou omissions peuvent survenir. L’internaute devra donc s’assurer de l’exactitude des informations auprès de , et signaler toutes modifications du site qu’il jugerait utile. n’est en aucun cas responsable de l’utilisation faite de ces informations, et de tout préjudice direct ou indirect pouvant en découler.
        </p>

    </main>
{% endblock %}
