* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-size: 1.4em;
}

.navbar {
    background-color: rgb(231, 227, 216);
    font-family : 'Tinos', 'sans-serif';
    font-size: .9em;
}

.navbar > a {
    background-color: rgb(231, 227, 216);
    font-family : 'Tinos', 'sans-serif';
    font-size: .9em;
}

/* ---- Footer ---- */
.footer {
    background-color: rgb(231, 227, 216);
    font-family : 'Tinos', 'sans-serif';
    font-size: .9em;
    margin-top: 20px;
}

footer > ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: -10%;
}

.footer__link {
    color: black;
}

.footer__link:hover {
    color: rgb(58,102,177);
    text-decoration: none;
}

/* ---- homepage ---- */
.homepage {
    max-width: 1088px;
    min-height: 83vh;
    padding: 20px;
    margin: 0 auto;
}

.homepage > section {
    padding: 1em;
    margin: 30px 5px;
    border: 1px solid black;
    background-color: rgb(127, 255, 212, 35%);
    border-radius: 10px;
}

.homepage__title {
    text-align: center;
    font-weight: 500;
    font-family:'Comfortaa', cursif;
    padding: 5px;
    font-size: 1.2em;
}

.homepage__text {
    font-family : 'Tinos', 'sans-serif';
    padding: 10px;
    font-size: 1em;
 }
 
.homepage__button {
    padding: 8px;
    margin: 0 auto;
    margin-left: 40%;
    border-radius: 5px;
    font-family : 'Tinos', 'sans-serif';
    background-color: rgb(204, 198, 198);
    border: 1px solid gray; 
    color: black;
}

.homepage__button:hover {
    background-color: rgba(0, 0, 255, 0.61);
    text-decoration: none;
    color: white;
}

.la-tv {
    position: relative;
    margin-left: 20px;
    top: 15px;
}

/* ---- Page Category ---- */
.category {
    max-width: 1200px;
    min-height: 83vh;
    margin: 0 auto;
}
.category__title {
    font-family:'Comfortaa', cursif;
    font-weight: 500;
    font-size: 1.3em;
    text-align: center;
    border-bottom: 1px solid rgb(204, 198, 198);
    padding: 20px;
}

.category > ul {
    list-style-type: none;
}

.category__name {
    font-family : 'Tinos', 'sans-serif';
    font-size: 1em;
    color: #333;
    padding: 10px;
}

.category__name:hover {
    color: rgb(58,102,177);
    text-decoration: none;
}

/* ---- page tv_show_list ---- */
.tv_show_list {
    max-width: 1200px;
    margin: 0 auto;
}

.tv_show_list__title {
    text-align: center;
    font-weight: 500;
    font-size: 1.3em;
    font-family:'Comfortaa', cursif;
    padding: 20px;
    border-bottom: 1px solid rgb(204, 198, 198);
}

.tv_show_list__search {
    margin: 10px 50px;
    padding: 20px;
}

.tv_show_list__input {
    border-radius: 10px;
    width: 100%;
    margin: 10px;
}

.tv_show_list__input::placeholder {
    text-align: center;
}

.tv_show_list__button {
    border-radius: 10px;
    width: 100%;
    margin: 10px;
}

.tv_show_list__button:hover {
    background-color: rgba(0, 0, 255, 0.61);
    color: white;
}

.tv_show_list__post {
    display: flex;
    flex-wrap: wrap;
}

.tv_show_list__post > article {
    width: 100%;
    padding: 0 10px;
}

.tv_show_list__post > article:hover {
    padding: 10px;
    margin: 20px 0;
    border-radius: 10px;
    background-color: rgb(231, 227, 216);
}

.tv_show_list__post > article > a:hover {
    text-decoration: none;
}

.tv_show_list__post__title {
    text-align: center;
    color: black;
    font-size: 1.3em;
    padding: 10px;
}
.tv_show_list__post__text {
    font-size: 1.3em;
    text-align: center;
    color: black;
    padding: 10px;
}

.tv_show_list__post__img {
    width: 100%;
}

/* ---- page tv_show_view ---- */
.tv_show_view {
    max-width: 1200px;
    margin: 0 auto;
    color: black;
}

.tv_show_view__title {
    text-align: center;
    font-family:'Comfortaa', cursif;
    font-weight: 500;
    font-size: 1.3em;
    padding: 20px;
    border-bottom: 1px solid black;
    opacity: initial;
    background-color: rgba(255, 255, 255, 50%);
    margin: 0;
}

.tv_show_view__categories {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 20px 20px 30px 0;
    border-bottom: 1px solid black;
    background-color: rgba(255, 255, 255, 50%);
    color: black;
    margin: 0;
}

.tv_show_view__category {
    padding: 0 20px;
    color: black;
    font-size: 1em;
    font-family : 'Tinos', 'sans-serif';
}

.tv_show_view__category:hover {
    text-decoration: none;
    color: rgb(38, 68, 236);
    font-weight: bold;
}

.article {
    font-family : 'Tinos', 'sans-serif';
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 50%);
}

.article > ul {
    list-style-type: none;
}

.tv_show_view__subtitle {
    text-align: center;
    font-family:'Comfortaa', cursif;
    padding: 20px;
    background-color: rgba(255, 255, 255, 50%);
    margin: 0;
}

.tv_show_view__name {
    font-family : 'Tinos', 'sans-serif';
    text-align: center;
    margin: 0;
    padding: 0;
}

.tv_show_view__actor {
    font-family : 'Tinos', 'sans-serif';
    text-align: center;
    font-size: .8em;
    margin: 0;
}

.synopsis {
    flex: 1;
    padding: 20px;
}

.tv_show_view__actors {
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 50%);
}

.tv_show_view__actors > aside {
    margin: 20px;
    padding: 5px;
}

.picture {
    width: 180px;
    height: 250px;
}

.tv_show_view__seasons {
    font-family : 'Tinos', 'sans-serif';
    padding: 20px;
    background-color: rgba(255, 255, 255, 50%);
}

.tv_show_view__season {
    font-family:'Comfortaa', cursif;
    font-size: 1em;
}

.tv_show_view__episodes {
    list-style-type: "-";
}

.tv_show_view__episode {
    font-size: .8em;
    margin-left: -10px;
    padding: 5px;
}

/* ---- Mentions-Légales ---- */
.legal-mentions {
    max-width: 1200px;
    min-height: 78vh;
    margin: 0 auto;
    color: black;
    margin-bottom: 30px;
}

.legal-mentions__title {
    text-align: center;
    font-family:'Comfortaa', cursif;
    font-weight: 500;
    font-size: 1.3em;
    padding: 20px;
    border-bottom: 1px solid black;
}

.legal-mentions__subtitle {
    color: rgb(58,102,177);
    font-family:'Comfortaa', cursif;
    font-size: 1em;
    padding: 10px 10px 0 10px;
}

.legal-mentions__text {
    font-family : 'Tinos', 'sans-serif';
    font-size: .8em;
    padding: 0 30px;
}

.plan {
    max-width: 1200px;
    min-height: 83vh;
    margin: 0 auto;
    color: black;
}

.plan__title {
    text-align: center;
    font-family:'Comfortaa', cursif;
    font-weight: 500;
    font-size: 1.2em;
    padding: 20px;
    border-bottom: 1px solid black;
}

.plan > ul {
    list-style-type: none;
    padding: 20px;
}

.plan > ul > li > a {
    font-family : 'Tinos', 'sans-serif';
    color: black;
    font-size: .7em;
}

.plan > ul > li > a:hover {
    color: rgb(58,102,177);
    text-decoration: none;
}

.contact {
    max-width: 1200px;
    min-height: 80vh;
    margin: 0 auto;
}

.contact__title {
    text-align: center;
    font-family:'Comfortaa', cursif;
    font-weight: 500;
    font-size: 1.3em;
    padding: 20px;
    border-bottom: 1px solid black;
    margin-bottom: 30px;
}

.contact__form {
    max-width: 450px;
    margin: 0 auto;
    border: 1px solid black;
    background-color: rgb(127, 255, 212, 35%);
    padding: 20px;
    border-radius: 10px;
}

.form-label {
    font-family : 'Tinos', serif;
    font-size: 1em;
    color: black;
}

.form-input {
    border-radius: 5px;
    border: none;
}

.contact__form__button {
    padding: 3px 10px;
    margin: 0 auto;
    margin-left: 38%;
    border-radius: 5px;
    font-family : 'Tinos', 'sans-serif';
    background-color: rgb(204, 198, 198);
    border: 1px solid gray; 
    color: black;
}

.contact__form__button:hover {
    background-color: rgba(0, 0, 255, 0.61);
    text-decoration: none;
    color: white;
}


.login {
    max-width: 1200px;
    min-height: 80vh;
    margin: 0 auto;
}

.login__title {
    text-align: center;
    font-family:'Comfortaa', cursif;
    font-weight: 500;
    font-size: 1.3em;
    padding: 20px;
    border-bottom: 1px solid black;
    margin-bottom: 30px;
}

.login__form {
    max-width: 450px;
    margin: 0 auto;
    border: 1px solid black;
    background-color: rgb(127, 255, 212, 35%);
    padding: 20px;
    border-radius: 10px;
}

.login__form__button {
    padding: 3px 10px;
    margin: 0 auto;
    margin-left: 35%;
    border-radius: 5px;
    margin-top: 20px;
    font-family : 'Tinos', 'sans-serif';
    background-color: rgb(204, 198, 198);
    border: 1px solid gray; 
    color: black;
}

.login__form__button:hover {
    background-color: rgba(0, 0, 255, 0.61);
    text-decoration: none;
    color: white;
}

.create {
    max-width: 1200px;
    min-height: 80vh;
    margin: 0 auto;
}

.create__title {
    text-align: center;
    font-family:'Comfortaa', cursif;
    font-weight: 500;
    font-size: 1.3em;
    padding: 20px;
    border-bottom: 1px solid black;
    margin-bottom: 30px;
}

.create__form {
    max-width: 450px;
    margin: 0 auto;
    border: 1px solid black;
    background-color: rgb(127, 255, 212, 35%);
    padding: 20px;
    border-radius: 10px;
}

.create__form__button {
    padding: 3px 10px;
    margin: 0 auto;
    margin-left: 40%;
    border-radius: 5px;
    margin-top: 20px;
    font-family : 'Tinos', 'sans-serif';
    background-color: rgb(204, 198, 198);
    border: 1px solid gray; 
    color: black;
}

.create__form__button:hover {
    background-color: rgba(0, 0, 255, 0.61);
    text-decoration: none;
    color: white;
}

.change__form__button {
    padding: 0 10px;
    margin: 0 auto;
    margin-left: 37%;
    border-radius: 5px;
    margin-top: 20px;
    font-family : 'Tinos', 'sans-serif';
    background-color: rgb(204, 198, 198);
    border: 1px solid gray; 
    color: black;
}

.change__form__button:hover {
    background-color: rgba(0, 0, 255, 0.61);
    text-decoration: none;
    color: white;
}

.form-textarea {
    resize: none;
    line-height: 3;
}

.form-control {
    font-family: 'Tinos', 'serif';
}

.form-button {
    position: relative;
    left: 38%;
    margin: 0 auto;
    font-size: 1.2em;
    padding: .3em .6em;
    border-radius: 10px;
}

.form-pass-button:hover {
    background-color: rgba(0, 0, 255, 0.61);
    color: wheat;
}

@media screen and (min-width: 640px) {
    .tv_show_view__subtitle {
        font-size: 2em;
    }

    .tv_show_view__season {
        font-size: 1.2em;
    }
    
    .tv_show_view__episode {
        font-size: 1em;
    }

    .tv_show_view__title {
        font-size: 3em;
    }

    .tv_show_view__category {
        font-size: 1.3em;
    }

    .tv_show_list__post > article {
      width: 25%;
      padding: 20px;
    }

    .tv_show_list__title {
        font-size: 3em;
    }

    .tv_show_list__input {
        padding: 0 10px;
        margin-right: 25px;
    }

    .tv_show_list__post__title {
        font-size: 1em;
    }

    .tv_show_list__post__text {
        font-size: 1em;
    }

    .navbar {
        font-size: 1.3em;
    }

    .footer {
        font-size: 1.5em;
    }

    footer > ul {
        flex-direction: row;
        align-items: center;
        padding: 20px;
        justify-content: space-evenly;
    }

    .homepage__title {
        font-size: 2em;
    }

    .homepage__text {
        font-size: 1.3em;
    }

    .homepage__button {
        padding: 5px 10px;
        font-size: 1.3em;
    }

    .category__title {
        font-size: 2.5em;
    }

    .category__name {
        font-size: 1.5em;
    }

    .legal-mentions__title {
        font-size: 3em;
    }

    .legal-mentions__subtitle {
        font-size: 1.3em;
    }
    
    .legal-mentions__text {
        font-size: 1em;
    }

    .plan__title {
        font-size: 3em;
    }

    .plan > ul > li > a {
        font-size: 1em;
    }
    
    .contact__title {
        font-size: 3em;
    }

    .form-label {
        font-size: 1.3em;
    }

    .contact__form {
        max-width: 600px;
    }

    .contact__form__button {
        margin-left: 40%;
    }

    .login__title {
        font-size: 3em;
    }

    .login__form {
        max-width: 650px;
    }
    
    .login__form__button {
        margin-left: 40%;
        margin-top: 30px;
    }

    .create__title {
        font-size: 3em;
    }

    .create__form {
        max-width: 650px;
    }

    .create__form__button {
        margin-left: 42%;
    }

    .change__form__button {
        margin-left: 40%;
    }

  }
  @media screen and (max-width: 500px) {
    .create__form {
        max-width: 90%;
    }

    .login__form {
        max-width: 90%;
    }

    .login__form__button {
        margin-left: 27%;
        padding: 0 10px;
    }

    .create__form__button {
        margin-left: 37%;
        padding: 0 10px;
    }

    .change__form__button {
        margin-left: 32%;
    }
    
  }

  @media screen and (max-width: 300px) {
    .create__form {
        max-width: 90%;
    }

    .login__form {
        max-width: 90%;
    }

    .login__form__button {
        margin-left: 20%;
    }

    .create__form__button {
        margin-left: 28%;
        padding: 0 10px;
    }

    .change__form__button {
        margin-left: 28%;
    }
    
  }

/* ---- Formulaire Ajout et Modification ---- */
.form-title {
    margin: 0 auto;
    margin-top: 2em;
    font-size: 2.3em;
    text-align: center;
    font-family : 'Comfortaa', cursif;
    font-weight: 700;
    padding: 1em;
    color: orange;
}

.form {
    width: 650px;
    margin: 0 auto;
    border: 1px solid black;
    background-color: rgba(255, 166, 0, 70%);
    padding: 2em;
    border-radius: 10px;
    margin-bottom: 20px;
}

.form-pass-button {
    position: relative;
    left: 28%;
    margin: 0 auto;
    font-size: 1.2em;
    padding: .3em .6em;
    border-radius: 10px;
}

.form-button:hover {
    background-color: rgba(0, 0, 255, 0.61);
    color: wheat;
}
.form-check {
    font-family : 'Tinos', serif;
}

/* ---- Page Admin ---- */
.admin-tv_show {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.admin-list {
    display: flex;
    margin: 1em;
    list-style-type: none;
}

.admin-list > li > a {
    margin: 1em;        padding: .4em .8em .5em .8em;

    background-color: rgb(187, 185, 185);
    color: rgb(29, 29, 29);
    border-radius: 10px;
    padding: .5em 1em;
    text-decoration: none;
}

.admin-list > li > a:hover {
    background-color: grey;
    color: white;
    text-decoration: none;
}

.table {
    margin: 1em;
}

th {
    text-align: center;
}

td {
    border: 1px solid #333;
    text-align: center;
    padding: .5em; 
}

.table-button_delete {
    border: none;
}

.la-trash-alt {
    color: blue;
}

.la-trash-alt:hover {
    color: red;
}

.la-edit {
    color: blue;
}

.la-edit:hover {
    color: orange;
}

.btn_delete {
    background-color: red;
    font-size: 1.2em;
    padding: .5em;
    border-radius: 10px;
    color: white;
}


