{% extends 'base.html.twig' %}

{% block body %}
    <section class="category">
        <h1 class="category__title">Catégories</h1>
        <ul>
            {% for category in categories %}
                <li>
                    <a href="{{ path('category_view', {'id': category.id}) }}" class="category__name">
                        {{ category.label }}
                    </a>
                </li>
                <hr>
            {% endfor %}
        </ul>
       
    </section>
    

{% endblock %}