{% extends 'base.html.twig' %}

{% block body %}
    <section class="category">
        <h2>Catégories</h2>
        <ul>
            {% for category in categories %}
                <li>
                    <a href="{{ path('category_view', {'id': category.id}) }}">
                        {{ category.label }}
                    </a>
                </li>
            {% endfor %}
        </ul>
       
    </section>
    

{% endblock %}