{% extends 'base.html.twig' %}

{% block body %}

    <h2  class="form-title">Modifier une catégorie</h2>

    <div class="form">
        {{ form_start(categoryForm) }} 

        {{ form_widget(categoryForm) }}

        <input type="submit" value="Modifier" class="form-button">
        {{ form_end(categoryForm) }}    
    </div>

{% endblock %}