{% extends 'base.html.twig' %}

{% block body %}

    <section class="category">
        <h2>{{ category.label }}</h2>
        <ul>
            {% for tvShow in category.tvShows %}
                <li>
                    <a href="{{ path('tv_show_view', {'id': tvShow.id}) }}">
                        {{ tvShow.title }}
                    </a>
                </li>
            {% endfor %}
        </ul>       
    </section>

{% endblock %}