{% extends 'base.html.twig' %}

{% block body %}

<div class="d-flex flex-row justify-content-between my-4">
        <h3>{{ category.label }}</h3>
        {% if is_granted('ROLE_ADMIN') %}
            <div>
                <a href="{{ path('category_update', {'id': category.id}) }}" class="btn btn-primary">Modifier</a>
            </div>
        {% endif %}
    </div>


<div class="list-group">
    {% for tvShow in category.tvShows %}
        <a href="{{ path('tv_show_view', {'id': tvShow.id}) }}" class="list-group-item list-group-item-action">
            {{ tvShow.title }}
        </a>
    {% endfor %}
</div>


{% endblock %}