<footer class="footer">
    <ul>
        <li><a href="{{ path('legal_mentions') }}" class="footer__link">Mentions légales</a></li>
        <li><a href="{{ path('plan') }}" class="footer__link">Plan du site</a></li>
        <li><a href="{{ path('contact') }}" class="footer__link">Contact</a></li>
    </ul>
</footer>