{% extends 'base.html.twig' %}

{% block body %}
    <div class="jumbotron">
        <h1 class="display-4">{{ welcomeMessage }}</h1>
        <p class="lead">Une base de donnée à moitié complète, pleine d'info non vérifiées 👍</p>
        <hr class="my-4">
        <p>Pour commencer, explorez la liste des catégories de series en cliquant sur le bouton Explorer.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Explorer</a>
    </div>
{% endblock %}
