{% extends 'base.html.twig' %}

{% block body %}
    <main  class="homepage">
        <section>
            <h1>{{ welcomeMessage }}</h1>
            <h2>Un site sur les séries télé <i class="las la-tv la-2x"></i></h2>
            <p>Pour commencer, explorez la liste des catégories de series en cliquant sur le bouton Explorer.</p>
            <ul>
                <li><a href="{{path('category_list')}}">Explorer</a></li>
            </ul>
        </section>
    </main>
{% endblock %}
