{% extends 'base.html.twig' %}

{% block body %}

<div class="d-flex flex-row justify-content-between mb-5">
    <h2>Modifier une série</h2>
    <div>
        <a href="{{ path('season_delete', {id: season.id}) }}" onClick="return confirm('Confirmez la suppression');" class="btn btn-danger">Supprimer</a>
    </div>
</div>

{{ form_start(seasonForm) }} 

    {{ form_widget(seasonForm) }}

    <input type="submit" value="Modifier" class="btn btn-primary">
{{ form_end(seasonForm) }}

{% endblock %}