{% extends "@EasyAdmin/layout.html.twig" %}
{% block content %}
    <div class="jumpbotron">
        <h1 class="display-4">Administration</h1>
        <p class="lead">Bienvenue dans l'espace d'administration de votre site tv_show</p>
    </div>
{% endblock %}