{% extends 'base.html.twig' %}

{% block body %}

    <h2 class="form-title">Modifier un acteur</h2>
    <div class="form">
        {{ form_start(personForm) }} 

        {{ form_widget(personForm) }}

        <input type="submit" value="Modifier" class="form-button">
        {{ form_end(personForm) }}
    </div>
    

{% endblock %}