{% extends 'base.html.twig' %}

{% block body %}
    <h2 class="form-title">Modifier mon mot de passe</h2>
    <div class="form-login">
        {{ form_start(form) }} 

        {{ form_widget(form) }}

        <input type="submit" value="Modifier mon mot de passe" class="form-pass-button">
        {{ form_end(form) }}
    </div>




{% endblock %}