{% extends 'base.html.twig' %}

{% block body %}
    <div class="create">
         <h2 class="create__title">Modifier mon mot de passe</h2>
        <div class="create__form">
            {{ form_start(form) }} 

            {{ form_widget(form) }}

            <input type="submit" value="Modifier mon mot de passe" class="change__form__button">
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}